# http://answers.unity3d.com/questions/22604/which-unity-project-files-can-be-ignored-for-versi.html

[Tt]emp/
[Oo]bj/
build
Assembly-*proj
*.sln

*.suo
*.user
*.pidb
*.userprefs


Library/*
!Library/*.asset
Library/assetDatabase3
Library/AssetImportState
Library/InspectorExpandedItems.asset
Library/ScriptMapper
Library/EditorUserBuildSettings.asset
builds
Parse/CloudTest
TestFlightTeamPreferences.xml
TestFlightUserPreferences.xml
TestFlightMessage.txt
Assets/AI/Cache
Cache.meta
Assets/PlayMaker/PlayMaker.sln.meta
Assets/PlayMaker/PlayMaker.userprefs.meta
Iconr
Icon
build.app